@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overscroll-behavior: none;
  scrollbar-width    : thin;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-padding-top: 6rem;
}

.inner-html {
  overflow  : auto;
  max-height: 300px;
  color     : black !important;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor : pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding      : 4px 11px;
  border       : 1px solid #d9d9d9;
  border-radius: 6px;
}

.react-resizable {
  position       : relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position       : absolute;
  right          : -5px;
  bottom         : 0;
  z-index        : 1;
  width          : 10px;
  height         : 100%;
  cursor         : col-resize;
  justify-content: center;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.react-resizable-content {
  width           : 2px;
  height          : 35%;
  background-color: transparent;
  transition      : 0.3s;
}

.react-resizable-handle:hover>.react-resizable-content {
  background-color: rgb(164, 164, 164);
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color      : #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor    : default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.hover {
  opacity   : 1;
  transition: 0.2s;
}

.hover:hover {
  opacity: 0.7;
}

.scale {
  cursor    : pointer;
  transition: all 0.3s;
}

.scale:hover {
  scale: 1.025;
}

.container-hover:hover {
  background-color: rgb(226 232 240 / 0.6);
}

.dot-background {
  background      : white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size : 40px 40px;
}

.ant-card-head-title {
  transition: 0.2s;
}

.ant-upload-list {
  display: none;
}

.focus {
  outline   : 1px solid transparent;
  transition: all 0.2s;
}

.custom-link {
  color      : black;
  font-weight: 700;
  transition : all 0.3s;
}

.custom-link:hover {
  color: #4312e5;
}

.normal-link {
  color      : black;
  font-weight: 500;
  transition : all 0.3s;
}

.normal-link:hover {
  color: #4312e5;
}

.focus:hover,
.focus:focus {
  outline: 1px solid #4312e5be;
}

.editable {
  transition: 0.2s;
}

.editable:hover {
  padding      : 4px 11px;
  border       : 1px solid #d9d9d9;
  border-radius: 6px;
  cursor       : text;
  font-size    : 14px;
  font-weight  : normal;
}

table>* {
  font-size: 14px;
}

thead {
  text-transform: uppercase;
  font-weight   : 700;
}

.template-select {
  transition: 0.2s;
}

.template-select:hover {
  border: 1px solid #7a54ed;
}

.ant-drawer-header-title {
  flex-direction: row-reverse;
  gap           : 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#globe-mark {
  position           : relative;
  width              : 150px;
  height             : 150px;
  transform-style    : flat;
  backface-visibility: hidden;
}

.globe-rail {
  position     : absolute;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : 100%;
  border       : 0.5px solid #000000;
  border-radius: 300px;
}

.heading-link>[id]::before {
  content   : '';
  display   : block;
  height    : 64px;
  margin-top: -64px;
  visibility: hidden;
}

.globe-cross-1,
.globe-cross-2,
.globe-cross-3,
.globe-cross-4 {
  position  : absolute;
  height    : 0.5px;
  width     : 80%;
  background: #000000;
}

.globe-rail:nth-of-type(2) {
  transform                : rotateY(40deg);
  animation                : globerail-1 10s infinite;
  animation-timing-function: linear;
}

.globe-rail:nth-of-type(3) {
  transform                : rotateY(60deg);
  animation                : globerail-2 10s infinite;
  animation-timing-function: linear;
}

.globe-rail:nth-of-type(4) {
  transform                : rotateY(80deg);
  animation                : globerail-3 10s infinite;
  animation-timing-function: linear;
}

.globe-rail:nth-of-type(5) {
  transform                : rotateY(100deg);
  animation                : globerail-4 10s infinite;
  animation-timing-function: linear;
}

.globe-rail:nth-of-type(6) {
  transform                : rotateY(120deg);
  animation                : globerail-5 10s infinite;
  animation-timing-function: linear;
}

.globe-rail:nth-of-type(7) {
  transform                : rotateY(140deg);
  animation                : globerail-6 10s infinite;
  animation-timing-function: linear;
}

.globe-rail:nth-of-type(8) {
  transform                : rotateY(160deg);
  animation                : globerail-7 10s infinite;
  animation-timing-function: linear;
}

.globe-rail:nth-of-type(9) {
  transform                : rotateY(180deg);
  animation                : globerail-8 10s infinite;
  animation-timing-function: linear;
}

.globe-rail:nth-of-type(10) {
  transform                : rotateY(220deg);
  animation                : globerail-9 10s infinite;
  animation-timing-function: linear;
}


.globe-cross-1 {
  top : 20%;
  left: 10%;
}

.globe-cross-2 {
  top  : 40%;
  left : 2%;
  width: 98%;
}

.globe-cross-3 {
  top  : 60%;
  left : 2%;
  width: 98%;
}

.globe-cross-4 {
  top : 80%;
  left: 10%;
}

@keyframes globerail-1 {
  from {
    transform: rotateY(40deg)
  }

  to {
    transform: rotateY(220deg)
  }
}

@keyframes globerail-2 {
  from {
    transform: rotateY(60deg)
  }

  to {
    transform: rotateY(240deg)
  }
}

@keyframes globerail-3 {
  from {
    transform: rotateY(80deg)
  }

  to {
    transform: rotateY(260deg)
  }
}

@keyframes globerail-4 {
  from {
    transform: rotateY(100deg)
  }

  to {
    transform: rotateY(280deg)
  }
}

@keyframes globerail-5 {
  from {
    transform: rotateY(120deg)
  }

  to {
    transform: rotateY(300deg)
  }
}

@keyframes globerail-6 {
  from {
    transform: rotateY(140deg)
  }

  to {
    transform: rotateY(320deg)
  }
}

@keyframes globerail-7 {
  from {
    transform: rotateY(160deg)
  }

  to {
    transform: rotateY(340deg)
  }
}

@keyframes globerail-8 {
  from {
    transform: rotateY(180deg)
  }

  to {
    transform: rotateY(360deg)
  }
}

@keyframes globerail-9 {
  from {
    transform: rotateY(200deg)
  }

  to {
    transform: rotateY(380deg)
  }
}

.ant-tabs-tab-btn {
  color        : rgb(148 163 184 / 1);
  font-weight  : 600;
  padding      : 2px 8px;
  border-radius: 0.375rem;
}

.ant-tabs-tab-btn:hover {
  background-color: rgb(148 163 184 / 0.1);
  transition      : all 0.3s;
}

.ant-tabs-tab {
  padding-left: 0 !important;
}

.cm-focused {
  outline: none !important;
}

a {
  color: #007aff;
}

.ant-select-selection-placeholder {
  color: rgb(141 140 149 / 1) !important;
}

.ant-select-selection-item {
  color: white !important;
}

.text-gradient {
  background-clip : text;
  color           : transparent;
  background-image: linear-gradient(379deg, rgb(244, 216, 255) 30.90456644144144%, rgb(131, 104, 242) 100%);
}

.glass-bar,
.glass-info,
.glass-error,
.glass-success {
  -webkit-backdrop-filter   : blur(16px) !important;
  backdrop-filter           : blur(16px) !important;
  border-radius             : 12px !important;
  /* border                 : 1px solid rgba(206, 206, 251, .1) !important;
  background-color          : rgba(206, 206, 251, .02) !important;
  box-shadow                : rgba(206, 206, 251, 0.1) 0px 0px 16.3056px 0px inset !important; */
  background-color          : rgba(206, 206, 251, 0.02) !important;
  border                    : 1px solid rgba(206, 206, 251, 0.05) !important;
  box-shadow                : inset 0px -12px 40px 0px rgba(206, 206, 251, 0.05) !important;
}

.glass-info {
  box-shadow: rgba(100, 100, 255, 0.3) 0px 0px 16.3056px 0px inset !important;
}

.glass-success {
  box-shadow: rgba(100, 255, 100, 0.3) 0px 0px 16.3056px 0px inset !important;
}

.glass-error {
  box-shadow: rgba(255, 100, 100, 0.3) 0px 0px 16.3056px 0px inset !important;
}

.glass-card {
  padding                         : 16px;
  -webkit-backdrop-filter         : blur(8px) !important;
  backdrop-filter                 : blur(8px) !important;
  border-radius                   : 16px !important;
  /* background-color             : transparent !important; */
  /* border                       : 1px solid rgb(32 31 48 / 1); */
  /* box-shadow                   : rgba(164, 143, 255, 0.12) 0px -7px 120px 0px inset !important; */
  background-color                : rgba(206, 206, 251, 0.02) !important;
  border                          : 1px solid rgba(206, 206, 251, 0.05);
  box-shadow                      : inset 0px -12px 40px 0px rgba(206, 206, 251, 0.05);
}

.glass-inner-card {
  border          : 0.82px solid rgba(206, 206, 251, 0.05);
  background-color: rgba(206, 206, 251, 0.03);
  border-radius   : 8px;
  box-shadow      : rgba(206, 206, 251, 0.1) 0px 0px 16.3056px 0px inset;
}

.glass-error-pill,
.glass-success-pill,
.glass-info-pill,
.glass-warning-pill,
.glass-pill {
  box-shadow             : rgba(158, 113, 255, 0.2) 0px -12px 24px 0px inset;
  border-radius          : 48px;
  background-color       : rgba(206, 206, 251, 0.05);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter        : blur(7px);
  border                 : 1px solid rgba(142, 103, 255, 0.12);
}

.glass-error-pill {
  box-shadow: rgba(255, 100, 100, 0.2) 0px -12px 24px 0px inset !important;
  border    : 1px solid rgba(255, 100, 100, 0.12) !important;
}

.glass-success-pill {
  box-shadow: rgba(100, 255, 100, 0.2) 0px -12px 24px 0px inset !important;
  border    : 1px solid rgba(100, 255, 100, 0.12) !important;
}

.glass-info-pill {
  box-shadow: rgba(100, 100, 255, 0.2) 0px -12px 24px 0px inset !important;
  border    : 1px solid rgba(100, 100, 255, 0.12) !important;
}

.glass-warning-pill {
  box-shadow: rgba(255, 255, 100, 0.2) 0px -12px 24px 0px inset !important;
  border    : 1px solid rgba(255, 255, 100, 0.12) !important;
}

.glass-header {
  box-shadow      : rgba(206, 206, 251, 0.04) 0px -32px 64px 0px inset;
  border          : 1px solid rgba(206, 206, 251, 0.05);
  background-color: rgba(206, 206, 251, 0.02) !important;
  border-radius   : 12px !important;
}

.lighting-bg {
  background-image: url("https://utfs.io/f/74664282-2611-4a7d-ac80-60fa392c04fa-gelczw.png");
}

.ant-tree-node-content-wrapper {
  transition   : all 0.3 !important;
  border       : 1px solid transparent;
  border-radius: 8px !important;
}

.word-wrap {
  word-break: break-word !important;
}

.ant-tree-node-content-wrapper:hover,
.ant-tree-treenode-selected>.ant-tree-node-content-wrapper {
  color                  : rgb(229, 229, 249) !important;
  box-shadow             : rgba(234, 234, 251, 0.1) 0px -4px 12px 0px inset;
  background-color       : linear-gradient(rgba(234, 234, 251, 0) 0%, rgba(234, 234, 251, 0.06) 100%);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter        : blur(12px);
  border                 : 1px solid rgba(206, 206, 251, 0.2);
}

.ant-tree-switcher {
  display: none !important;
}

.ant-table-thead .ant-table-cell {
  background-color: transparent !important;
  border-bottom   : none !important;
}

.ant-table-thead>* {
  background-color: transparent !important;
}

.custom-logo-frame {
  background-color       : linear-gradient(rgba(203, 203, 232, 0.08) 0%, rgba(203, 203, 232, 0.04) 100%);
  border-radius          : 12px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter        : blur(12px);
  box-shadow             : rgba(255, 255, 255, 0.12) 0px -1px 1px 0px inset, rgba(196, 136, 255, 0.1) 0px 1px 1px 0px inset;
  mix-blend-mode         : multiply;
  z-index                : 9;
  border                 : 1px solid rgba(255, 255, 255, 0.04);
  position               : relative;
  width                  : auto;
  height                 : auto;
  padding                : 0;
  display                : flex;
  place-content          : center;
  align-items            : center;
}

.custom-logo-layer-1 {
  border                 : 1px solid rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter        : blur(12px);
  background-color       : linear-gradient(rgba(203, 203, 232, 0.08) 0%, rgba(203, 203, 232, 0.04) 100%);
  border-radius          : 12px;
  box-shadow             : rgba(255, 255, 255, 0.12) 0px -1px 1px 0px inset, rgba(196, 136, 255, 0.1) 0px 1px 1px 0px inset;
  flex                   : 0 0 auto;
  height                 : 54px;
  width                  : 54px;
  position               : relative;
  mix-blend-mode         : multiply;
  z-index                : 9;
  overflow               : visible;
}

.custom-logo-layer-2_1 {
  aspect-ratio           : 1.04545 / 1;
  border                 : 1px solid rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter        : blur(5px);
  background-color       : linear-gradient(rgba(203, 203, 232, 0.04) 0%, rgba(203, 203, 232, 0.08) 69.7477%);
  border-radius          : 8px;
  box-shadow             : rgba(116, 7, 255, 0.32) 0px -12px 4px 0px inset;
  overflow               : visible;
  height                 : 46px;
  position               : absolute;
  left                   : 3px;
  right                  : 3px;
  top                    : 4px;
}

.custom-logo-layer-2_1::after,
.custom-logo-layer-2_2::after {
  content       : "";
  border        : none;
  width         : 100%;
  height        : 100%;
  position      : absolute;
  box-sizing    : border-box;
  left          : 0;
  top           : 0;
  border-radius : inherit;
  pointer-events: none;
}

.custom-logo-layer-2_2 {
  border                 : 1px solid rgba(255, 255, 255, 0.04);
  aspect-ratio           : 1 / 1;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter        : blur(12px);
  background-color       : linear-gradient(rgba(2, 3, 28, 0.9) 0%, rgba(18, 20, 61, 0.9) 100%);
  border-radius          : 8px;
  box-shadow             : rgba(209, 187, 255, 0.32) 0px 0.5px 0.5px 0px inset, rgba(166, 96, 255, 0.16) 0px -12px 24px 0px inset, rgba(160, 86, 255, 0.12) 0px -1px 1px 0px inset;
  padding                : 0px;
  place-content          : center;
  align-items            : center;
  display                : flex;
  height                 : 46px;
  position               : absolute;
  top                    : 2px;
  left                   : 4px;
  right                  : 4px;
  gap                    : 10px;
  flex-flow              : row;
}

.custom-logo-layer-3 {
  flex    : 1 0 0px;
  height  : 100%;
  overflow: visible;
  position: relative;
  width   : 1px;
}

.custom-logo-layer-4 {
  position     : absolute;
  border-radius: inherit;
  inset        : 0px;
}

.ant-table-title {
  padding: 16px 0 !important;
}